<%= form_for(resource) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :rating %><br>
  <%= f.text_field :rating %>
  </div>

  <div class="field">
    <h4>Submit a URL to your favorite coding website!</h4>
  <%= url_field(:resource, :thumb) %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %><br>
