
<div class="row mod">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <%= image_tag resource.show_image, size:"260x200" %>
        <span class="card-title"><%= resource.show_title %></span>
      </div>
    </div>
    <div class="star-rating" data-score= <%= resource.avg_review %> ></div><div style="text-align:left"><em><%= "#{resource.reviews.length} reviews" %></em></div>
    <p><%= resource.show_description %></p>
  </div>
</div>

<div class="row mod">
  <div class="col s6 offset-s6">
    <% if resource.reviews.blank? %>
    <p>No reviews just yet, would you like to add the first?</p>
    <%= link_to "Write A Review", new_resource_review_path(resource), class: "waves-effect waves-light btn" %>
    <% else %>
    <% resource.reviews.each do |review| %>
    <div class="reviews">
      <div class="star-rating" data-score= <%= review.rating %> ></div>
      <p><%= review.comment %></p>

      <% if user_signed_in? %>
      <% if review.user_id == current_user.id %>
      <%= link_to "Edit", edit_resource_review_path(review.resource, review), class: "waves-effect waves-light btn cyan lighten-2" %>
    </div>
    <% end %>
    <% end %>
    <%#= link_to 'Edit', edit_resource_review_path(review, review) %>
  <% end %>
    </div>
  <%= link_to "Write A Review", new_resource_review_path(resource), class: "waves-effect waves-light btn cyan lighten-2" %><br><br>
  <% end %>
  <div class="backk">
    <% if user_signed_in? %>
    <% if resource.user_id == current_user.id %>
    <%= link_to 'Edit', edit_resource_path(resource), class: "waves-effect waves-light btn cyan lighten-2" %> |
    <%= link_to 'Back', resources_path, class: "waves-effect waves-light btn cyan lighten-2" %> |
    <%= link_to 'Delete', resource, method: :delete, class: "waves-effect waves-light btn cyan lighten-2" %>
    <% end %>
    <% end %>
  </div>
</div>
</div>
<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
