
<p id="notice"><%= notice %></p>

<h1>Learn to Code</h1>

<div class="row">
<% @resources.each do |resource| %>
  <div class="col s3">
    <%#= image_tag @thumb_url.images.first.src.to_s, size:"160x100" %><br>
    <%= image_tag resource.show_image, size:"160x100" %><br>
    <em><%= resource.show_title %></em><br><br>
    <%#= resource.show_description %><br>
    <%= resource.rating %><br>
    <%= link_to 'Show', resource %>
    <%= link_to 'Edit', edit_resource_path(resource) %>
    <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'New Resource', new_resource_path %>
  <% end %>
 </div>
</div>
