
    <div class="row">
      <div class="col m4">
        <div class="card-panel">
        <%= image_tag @resource.show_image, size:"160x100" %>
        <!-- <div class="star-rating" data-score= <%#= @avg_review %> ></div><em><%#= "#{@reviews.length} reviews" %></em> -->
        <div class="responsive-table">
          <!-- <table class="table"> -->
          <table>
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @resource.show_title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @resource.show_description %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @resource.rating %></td>
              </tr>
            </tbody>
          </table>
          <%#= link_to "Write a Review", new_resource_review_path(@resource) %>
        </div>
      </div>
      <div class="col m7 offset-m1">
        <h1 class="review_title"><%= @resource.title %></h1>
        <p><%= @resource.description %></p>

        <% if @reviews.blank? %>
        <p>No reviews just yet, would you like to add the first?</p>
        <%#= link_to "Write Review", new_resource_review_path(@resource), class: "btn btn-danger" %>
        <%# else %>
        <%# @reviews.each do |review| %>
        <!-- <div class="reviews"> -->
          <!-- <p><%#= review.rating %></p>
          <p><%#= review.comment %></p>
        </div>
        <%# end %> -->
        <% end %>
      </div>
    </div>
  </div>
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
