<nav>
  <div class="nav-wrapper" >
    <span style = "color:#141414"><%= link_to "codeXhunter", root_path, class: "navbar-brand" %></span><%= image_tag "boom.jpg", size:"55x55", class:'boom' %>
    <ul id="nav-mobile" class="right">
      <% if user_signed_in? %>
      <li>
      <%= link_to "New Resource", new_resource_path, class: "active" %></li>
      <li><%= link_to "Account", edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "active" %></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
      <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
      <% end %>
      <li><i class="material-icons">search</i>
      <%= form_tag search_resources_path, method: :get, role: "search" do %></li>
      <li><%= text_field_tag :search, params[:search], class: "form-control" %></li>
      <!-- <li><%#= submit_tag "Search" %></li> -->
      <% end %>
    </ul>
  </div>
</nav>
<% if !user_signed_in? %>
<nav class="second">
   <div class="nav-wrapper pitch">
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><p><span style="color:#e8edf3";><strong>What are your favorite coding resources?</strong></span> <span style="color:#999";>codeXhunter is for developers who want to share and discover new resources.</span></p></li>
       <!-- <li><a class="learn cyan lighten-2 btn">Learn More</a></li> -->
       <li><%= link_to "Learn More", nil, class: "learn cyan lighten-2 btn" %></li>
       <!-- <li><a class="sign-up cyan lighten-2 btn">Sign Up</a></li> -->
       <li><%= link_to "Sign Up", new_user_registration_path, class: "sign-up cyan lighten-2 btn" %></li>
     </ul>
   </div>
 </nav>
 <% else %>
 <nav class="second">
    <div class="nav-wrapper pitch">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><p><span style="color:#e8edf3";><strong>Learn to code from the codeXhunter community.</strong></span> <span style="color:#999";>Discover and share your favorites.</span></p></li>
        <li><%= link_to "Learn More", nil, class: "learn cyan lighten-2 btn" %></li>
      </ul>
    </div>
  </nav>
<% end %>
