
      <%= link_to "Coding Resources", root_path, class: "navbar-brand" %>
        <% if user_signed_in? %>
          <li><%= link_to "New Resource", new_resource_path, class: "active" %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
          <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
        <% end %>
        <a class="waves-effect waves-light btn">button</a>
